.container {
    background-image: url(https://wallpapercave.com/wp/wp5565660.jpg);
    background-size: cover;
    background-position: center bottom -150px;
    width: 100%;
    height: 20svh;  
    position: relative;
}

h1, h2 {
    z-index:  1;
}
h1 {
    font-size: 40px;
    position: relative;
    top: 150px;
    left: 50px;
}
h2 {
    position: relative;
    font-size: 20px;
    left: 0px;
    top: 140px;
}
h6{
    position: relative;
    font-size: 13px;
    left: 800px;
    top: -185px;
}
