    .container {
        /*background-image: url(https://wallpapercave.com/wp/wp5565660.jpg);
        background-size: cover;
        background-position: center bottom -150px; */
        height: 100svh;  
        position: relative;
        max-width: 100%;
        overflow-x: hidden;

    }

    img {
        object-fit: cover;
        width: 95%;
        height: auto;
        max-height: 300px;
        object-position: 50% 75%; /*hori verti*/
        margin-left: 38px;

        
        

    }

    h1, h2 {
        z-index:  1;
    }
    h1 {
        font-size: 40px;
        position: relative;
  
        left: 50px;
    }
    h2 {
        position: relative;
        font-size: 20px;
        left: 50px;
    }

    h6{
        text-align: center;
        position: relative;
        font-size: 13px;
        color: black;
        top: -368px;
    }
